meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fase 4 Metodología OVOP
meta(meta name="description" content="Este componente formativo corresponde a la fase 4 de la Metodología OVOP y abarca tres guías: Guía No 7 Negocio colectivo para la gestión de Mi Producto, Guía No 8. Análisis de actores y la Guía No 9. Estrategia de marca territorial. Estas guías constituyen la parte final de la ruta metodológica de la estrategia de desarrollo local OVOP – Colombia, y tiene por objetivo, orientar a los facilitadores a participar en la implementación del OVOP para plantear un negocio colectivo; brindar a los interesados insumos conceptuales y metodológicos para la identificación, clasificación y selección de actores claves, que potencialicen el desarrollo de una iniciativa OVOP; explicar la estrategia de Marca territorial como una herramienta efectiva para crear cooperación orgánica a nivel departamental entre varias organizaciones relacionadas con el desarrollo local y los residentes de la comunidad.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")