h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220201007-02 - Aplicar la metodología OVOP Colombia, teniendo en cuenta el contexto territorial y técnicas de trabajo participativo.