h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion1/')
                    +navTemaItem('1', 'Guía de negocio colectivo para la gestión de mi producto', 'main.html#page/guia1/')
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion2/')
                    +navTemaItem('2', 'Guía para el análisis de actores', 'main.html#page/guia2/')
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion3/')
                    +navTemaItem('3', 'Guía de estrategia de marca territorial', 'main.html#page/guia3/')