.container#guia1

    .header-ecored

        h1 1. Guía de negocio colectivo para la gestión de mi producto

    #objetivos1

        .subtitulo-guion

            h2 Objetivos de la guía

    .jumbotron.bg-white

        .row

            .col-12

                p Esta guía tiene por objetivo orientar a los facilitadores a participar en la implementación del enfoque OVOP Colombia, para plantear un Negocio Colectivo (NC) basado en este enfoque, que permita promover procesos de emprendimiento colectivo, trabajo en equipo y autogestión de uno o varios productos propios de un territorio definido.

            .col-12.text-center

                img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 50%")

    #sobre

    .subtitulo-guion

        h2 Sobre negocio colectivo
        
    .card

        .card-body

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 1.1
                    
                    .col-10

                        p.texto2 Concepto e importancia

                .row.mx-0.mt-3

                    .col-12.px-0

                        p Un Negocio Colectivo (NC) es un sistema de integración capaz de reunir a varios individuos, unidades familiares y/u organizaciones en torno a un emprendimiento colectivo, con un producto común, con el fin de juntar recursos, potencialidades, talentos y capacidades para obtener la ampliación de resultados. Busca promover en la comunidad habilidades que le permitan fortalecer su capacidad y ampliar su visión, al tiempo que promueven el valor intrínseco y único de su producto a partir del marketing territorial.

                        p.texto3.mt-4
                            b Negocio colectivo (NC)

                        p.texto3.mt-4
                            b Elementos
                    
                    .col-12.text-center.mt-4

                        img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 80%")
                    
                    .col-12.mx-0.mt-3

                        p Las comunidades son capaces de transformar la realidad económica de sus territorios; en este caso, alrededor de un producto propio de su región que se materializa necesariamente a partir del trabajo comunitario y la activación de procesos de trabajo colaborativo.

                        br

                        p Vale la pena destacar los nuevos ejercicios adelantados por distintas comunidades en Colombia, a través de los cuales han generado nuevos valores agregados a sus productos. En los últimos años se dieron pasos importantes en el posicionamiento de sus productos fundamentados en el marketing territorial, el cual eleva las propiedades de un producto como símbolo de una región, al tiempo que se apalanca en sus atributos que lo hacen especial y único.

                        br

                        p La finalidad es que estas acciones desemboquen en la activación de nuevos canales de venta y el posicionamiento en el mercado que traiga consigo el mejoramiento de las condiciones de vida en un territorio definido.

                        br

                        p Cada vez son más, las comunidades se juntan para crear mejores resultados. Es frecuente encontrar municipios, centros poblados o veredas en donde varias unidades familiares, organizaciones y/o individuos se dedican a la producción y venta de un producto común; por ejemplo: el bocadillo veleño del municipio de Vélez (Santander), la cerámica negra de la vereda de La Chamba (Tolima), el sombrero vueltiao y/o los productos en caña flecha de Tuchín (Córdoba), las mochilas Wayuu (Guajira), entre otros. Estos son ejemplos conocidos en nuestro país que poseen las cualidades necesarias para el establecimiento de negocios colectivos.

                        br

                        p Un ejemplo de un territorio con producto común es el municipio de Tuchín en el departamento de Córdoba, donde hay una población de 37.716 habitantes, de los cuales el 90 % trabaja en la producción de artesanías en caña flecha, en la labor de tejido trabaja el 73,3 %, en confección, el 13,6 %, el 6,8 % se dedica a la sombrerería y el 2,3% a la cestería.

                        p.texto3.mt-4
                            b Tesoros o productos propios de un territorio definido con potencial para la creación de un negocio colectivo
    
        .col-12.text-center.recuadro5.recuadro2

            img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 80%")

    .card

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 1.2
                    
                    .col-10

                        p.texto2 Condiciones y características

                .row.mx-0.mt-3

                    .col-12.px-0

                        p Antes de iniciar debemos diferenciar el objetivo de un Negocio Individual (NI) y el objetivo de un Negocio Colectivo (NC).

                        br

                        p El primero está basado en un negocio con solo un responsable principal, dueño y propietario que recibe para sí todos los beneficios y que asumen los riesgos de manera personal y autónoma. Un Negocio individual (NI) busca siempre minimizar sus costos y aumentar sus ingresos para maximizar sus ganancias.

                        br

                        p Por su parte, un Negocio Colectivo (NC), está integrado por un grupo de personas, unidades familiares u organizaciones que se juntan, con el fin de asumir una responsabilidad colectiva con enfoque colaborativo que busca la concertación de un proyecto conjunto y tiene como fin generar resultados que aumenten el valor de su organización y su entorno. En este caso, el trabajo en equipo se enfoca en mejorar el valor del producto, generar mayor capacidad de venta para acceder a nuevos mercados y maximizar los beneficios, tanto colectivos como individuales de la comunidad.

                        p.texto3.mt-4
                            b Representación de un negocio individual
                    
                    .col-12.text-center.mt-4

                        img.img-fluid(src="assets/images/pages/img3.png", style="max-width: 80%")

                    .col-12

                        p.texto3.mt-4
                            b Representación de un negocio colectivo
                    
                    .col-12.text-center.mt-4

                        img.img-fluid(src="assets/images/pages/img4.png", style="max-width: 80%")
                    
                    .col-12.mt-3

                        p Quienes pueden integrar un negocio colectivo son aquellos Individuos, unidades familiares y/o pequeñas organizaciones que tengan la disposición de promover una idea de negocio de manera colectiva y que compartan intereses y valores comunes. La integración debe partir de los siguientes postulados:

                        ul
                            li.mt-3 Poseer un producto propio y común entre sus miembros.
                            li.mt-3 Tener claramente definido el territorio (vereda, centro poblado o municipio).
                            li.mt-3 Estar vinculado en alguno de los eslabones de la Cadena de Valor (CV) del producto escogido para promover el Negocio Colectivo (NC).
                            li.mt-3 Contar con la disposición para trabajar en equipo.
                            li.mt-3 Tener la expectativa de crecimiento y la idea de darle valor a su producto.
                            li.mt-3 Deseos de trabajar bajo esquemas colaborativos y colectivos.
                    
                    .col-12.mt-3.text-center

                        img.img-fluid(src="assets/images/pages/img5.png", style="max-width: 80%")
                    
                    .col-12.mt-3

                        p Además, una comunidad con potencial para el establecimiento de un Negocio Colectivo (NC) debe compartir como mínimo los siguientes aspectos: 

                        ol
                            li.mt-3 Intereses.
                            li.mt-3 Un producto común.
                            li.mt-3 El trabajo colectivo.
                            li.mt-3 Meta o punto de llegada.

                        p.texto3.mt-4
                            b Esquema condiciones básicas para integrar un Negocio Colectivo (NC)
                    
                    .col-12.mt-4.text-center

                        img.img-fluid(src="assets/images/pages/img6.png", style="max-width: 80%")
    
    .card

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 1.3
                    
                    .col-10

                        p.texto2 Integración

                .row.mx-0.mt-3

                    .col-12.px-0

                        p El Negocio Colectivo (NC) puede estar integrado por grupos de 5 a 100 unidades familiares, organizaciones y/o individuos. Estos deben reunirse en torno a un producto común, con el objetivo de ampliar su mercado y establecer una estructura empresarial que les permita desarrollar sus expectativas comerciales a nivel local, nacional y progresivamente abrir el camino hacia un mercado internacional (exportaciones). 

                        br

                        p Debe reunir las siguientes características para su creación:

                        ol
                            li.mt-3 Estar compuesta por individuos, unidades familiares y/o pequeñas organizaciones.
                            li.mt-3 Poseer un producto local común.
                            li.mt-3 Pertenecer a un territorio definido.
                            li.mt-3 Tener la necesidad de unirse para impulsar la competitividad de su producto y aumentar de la cohesión social de su territorio.
                            li.mt-3 Establecer el Negocio Colectivo (NC) a partir de procesos participativos e incluyentes Los pasos básicos para la implementación del Negocio Colectivo (NC) son los siguientes:

                    .col-12.mt-4.text-center

                        img.img-fluid(src="assets/images/pages/img7.png", style="max-width: 80%")

    #asuntos

    .subtitulo-guion

        h2 Asuntos preliminares
        
    .card

        .card-body

            .card-text

                .row.mx-0.mt-3

                    .col-12.px-0

                        p Para iniciar la gestión de “Mi Producto” OVOP a través de un Negocio Colectivo (NC) en un territorio, es necesario haber resuelto algunos asuntos preliminares como se muestra en la ruta metodológica OVOP. Esto con el fin de haber generado el proceso participativo previo que permita la compresión plena del ejercicio, así como la consolidación de resultados anteriores como base de información para la estructura de sostenibilidad de la iniciativa con visión empresarial. Dichos pasos preliminares se muestran en la siguiente imagen:

                        p.texto3.mt-4
                            b Algunos patrones de Modelo de Negocio en “PICTO”
                    
                    .col-12.mt-4.text-center

                        img.img-fluid(src="assets/images/pages/img8.png", style="max-width: 80%")

    #estructuracion

    .subtitulo-guion

        h2 Estructuración del modelo de negocio
        
    .card

        .card-body

            .card-text

                .row.mx-0.mt-3

                    .col-12.px-0

                        p Cuando un territorio ha seleccionado ya “Mi Producto” OVOP y se han identificado las unidades familiares, organizaciones e individuos que hacen parte de su cadena de valor y que están interesados en establecer relaciones de trabajo colaborativo para impulsar el crecimiento económico de su comunidad, se debe establecer o encontrar un modelo de negocio que les permita cumplir con los objetivos principales de dicho trabajo:

                        br

                        ul
                            li
                                b
                                    i Aumentar los ingresos de “Mi Producto”: 
                                | realizar una gestión comercial eficiente para abrir nuevos canales de venta y    establecer precios competitivos.
    
        img.img-fluid(src="assets/images/pages/img9.png", style="max-width: 100%")

        .row.mx-0.recuadro1.mt-3

            .col-12.px-0

                ul
                    li
                        b
                            i Maximizar los beneficios de “Mi Producto”: 
                        | mejorar los procesos de producción para aumentar la rentabilidad en cada paso de la cadena de valor del producto y cumplir con las exigencias de calidad, diseño y acceso de nuevos mercados.
        
        img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 100%")

        .row.mx-0.recuadro1.mt-3

            .col-12.px-0

                ul
                    li
                        b
                            i Posicionar “Mi Pueblo” usando “Mi Producto”: 
                        | establecer una relación directa de la imagen del territorio (nombre, tesoros, valores, historia, etc.) con las características del producto mejorando el valor, tanto del producto como del entorno para generar una Marca Territorial alrededor del trabajo colectivo.
        
        .row.mx-0.recuadro5

            .col-12.text-center

                img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 80%")
        
        .row.mx-0.recuadro1.mt-3.recuadro2

            .col-12.px-0

                p En general, un modelo de negocio implica reconocer muchas variables para conformar una estructura que genere los mejores resultados según los objetivos establecidos; sin embargo, estructurar el que cumpla con los objetivos del negocio colectivo implica también entender la cadena de valor del producto, desde el enfoque del desarrollo local.

                br

                p Así mismo, es necesario tener amplia información del territorio, identificar y tener en cuenta las relaciones de confianza existentes entre la comunidad y visualizar los canales de distribución que más convengan de acuerdo con el mercado más cercano. La estructura del modelo de negocio colectivo para la gestión de “Mi Producto” OVOP, se expresa en dos diferentes metodologías que son PICTO y CANVAS, las cuales se explican a continuación:

    .card

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 3.1
                    
                    .col-10

                        p.texto2 Expresión del modelo en PICTO

                .row.mx-0.mt-3

                    .col-12.px-0

                        p La palabra PICTO viene de “pictograma” que es una ilustración o icono elemental que representa figurativamente un objeto o un significado y que debe ser comprendido por cualquier persona independientemente de su idioma.

                        br

                        p A través de PICTO se pueden expresar los modelos de negocio de manera sencilla, de tal forma que puedan ser comprendidos por cualquier persona de la comunidad. La idea de expresar un modelo de negocio colectivo en PICTO es generar una construcción participativa, comprensiva y simple de la forma en la que se puede gestionar “Mi Producto” OVOP a través del trabajo colaborativo.

                        br

                        p La siguiente imagen muestra la expresión de diferentes patrones de modelo de negocio usando PICTO:

                        p.texto3.mt-4
                            b Algunos patrones de modelo de negocio en “PICTO”
                    
                    .col-12.mt-4.text-center

                        img.img-fluid(src="assets/images/pages/img12.png", style="max-width: 100%")
                    
                    .col-12.px-0.mt-4

                        p Para entender la imagen anterior, es necesario establecer el significado u objeto que representa cada icono o ilustración que se usa para la expresión del modelo de negocio. Estas representaciones se definen en la siguiente tabla:

                    .col-12.mt-4.text-center

                        img.img-fluid(src="assets/images/pages/img13.png", style="max-width: 100%")
                    
                    .col-12.px-0.mt-4

                        p Un modelo de negocio expresado en PICTO debe ser simple para facilitar la compresión; por lo tanto, en esta expresión no se detallarán todas las variables de un modelo de negocio, sino únicamente la forma de distribución del producto o servicio. Así las cosas, para estructurar en un primer momento un modelo de negocio colectivo, se requiere usar estas ilustraciones para referirse al modo como se relacionan los participantes de una transacción de bienes y servicios diferenciando los oferentes de los demandantes de la siguiente manera:

                    .col-12.mt-4.text-center

                        img.img-fluid(src="assets/images/pages/img14.png", style="max-width: 100%")
                    
                    .col-12.px-0.mt-4

                        p Con el fin de mejorar la comprensión del modelo de negocio, se pueden generar explicaciones adicionales sobre el dibujo como propuesta de valor, cantidad del precio o beneficio percibido, forma de pago, recurrencia, tiempo, nombre de las organizaciones o individuos que producen y segmento del mercado identificado. Estas explicaciones no son absolutamente necesarias para expresar el modelo, pero toda información relativa al negocio aclarará notablemente el entendimiento por parte de cualquier lector. En algunos casos se pueden usar imágenes o dibujos más explícitos sobre los símbolos para generar estas explicaciones.

                        br

                        p A continuación, se ilustrarán y explicarán tres modelos de negocio en PICTO y se realizará un contraste de cada uno de los modelos usados según los objetivos de un negocio colectivo:

                        br

                        ul
                            li
                                b Modelo de Venta Directa
                            
                            br
                        
                            p En un modelo de venta directa, una persona o empresa se encarga de todo el proceso de producción y venta del producto o servicio. El comprador o compradores reciben y pagan directamente a las manos del vendedor por el producto o servicio. El precio pagado corresponde únicamente al precio neto del producto. Este modelo se expresa a continuación:

                            br

                            p
                                b Ejemplo de modelo de venta directa en PICTO
                            
                            .row

                                .col-12.text-center

                                    img.img-fluid.mt-4(src="assets/images/pages/img15.png", style="max-width: 100%")

                            p.mt-4 Ahora bien, si este modelo se aplicara en un negocio colectivo para la gestión de “Mi Producto OVOP”, no podría existir un vendedor individual, sino una organización comunitaria que se encarga de producir y vender directamente a los clientes su producto o servicio común. En este caso, vamos a ejemplificar un territorio que ha seleccionado “Mi Producto” OVOP:

                            br

                            p En el taller de descubrimiento de Tesoros Locales del municipio Montañita, se encontraron diferentes personas de la comunidad que se dedicaban a la transformación de algunos productos agrícolas de la región. Algunas granjas donde se criaban pollos criollos tenían conocimiento para elaborar salchichas artesanales de pollo, en algunas otras donde se producía avena, las esposas de los agricultores preparaban pan de avena; otras por su parte que producían tomates, también tenían la receta para elaborar salsa de tomate orgánica. Por lo tanto, idearon un producto que podría beneficiar a varios y propusieron “El Perro de la Montañita” como “Mi Producto” OVOP. Como los jóvenes que aún estudiaban estaban en capacidad de elaborar y vender los perros calientes en uno de los parques del pueblo donde llegan los turistas, decidieron elegir un modelo de negocio de venta directa.

                            br

                            p
                                b Expresión de un modelo de venta directa para un negocio colectivo

                            .row
                    
                                .col-12.text-center

                                    img.img-fluid.mt-4(src="assets/images/pages/img16.png", style="max-width: 100%")
                    
                    .col-12.px-0.mt-4

                        ul
                            li
                                b Modelo de intermediario
                        
                            br

                            p En un modelo de venta directa, una persona o empresa se encarga de todo el proceso de producción y venta del producto o servicio. El comprador o compradores reciben y pagan directamente a las manos del vendedor por el producto o servicio. El precio pagado corresponde únicamente al precio neto del producto. Este modelo se expresa a continuación:

                            br

                            p
                                b Ejemplo de Modelo de Intermediario en PICTO
                            
                            .row
                    
                                .col-12.mt-4.text-center

                                    img.img-fluid(src="assets/images/pages/img17.png", style="max-width: 100%")

                            p.mt-4 Para ilustrar un caso de modelo de intermediario para Negocio Colectivo, pondremos el ejemplo de Maderos San Juan donde “Mi Producto” OVOP son las artesanías de madera rústica. Al analizar la cadena de valor del producto se descubrió que los artesanos tenían poco volumen de ventas, ya que no tienen un espacio para exhibir sus productos. También, que los artesanos tienen una misma línea de producción que son utensilios de cocina, pero cada uno tiene un diseño y unas proporciones diferentes de su producto. Sin embargo, también se descubrió que, por su calidad y funcionalidad, la mayoría de los clientes compraban recurrentemente los utensilios que se elaboraban allí. Por lo tanto, la comunidad estructuró para su organización un modelo de negocio de intermediario que les permitiera acceder a otros mercados, mejorar su producción y organizar su forma de venta. La expresión del modelo es la siguiente:

                            br

                            p
                                b Expresión de un modelo de intermediario para negocio colectivo
                            
                            .row
                                
                                .col-12.mt-4.text-center

                                    img.img-fluid(src="assets/images/pages/img18.png", style="max-width: 100%")
                    
                    .col-12.px-0.mt-4

                        ul
                            li
                                b Modelo de promoción
                        
                            br

                            p El modelo de promoción, también conocido como “matching”, tiene que ver con una propuesta de valor alrededor de un servicio que se presta tanto a los productores y a los consumidores para conectarlos a ambos; es decir, hacer un match entre la oferta y la demanda. En este modelo, el negocio no interviene en el proceso de producción ni de comercialización, solo se encarga de hacer la promoción de los productos a los consumidores potenciales. Este modelo se expresa en PICTO de la siguiente manera:

                            br

                            p
                                b Ejemplo de Modelo de Promoción en PICTO
                            
                            .row
                                
                                .col-12.mt-4.text-center

                                    img.img-fluid(src="assets/images/pages/img19.png", style="max-width: 100%")
                            
                            br

                            p Los negocios que usan el modelo de promoción frecuentemente son las empresas de servicios publicitarios, las inmobiliarias y las aplicaciones de servicios de taxi. Para el caso de los negocios colectivos, también es posible usar este prototipo de modelo de negocio si la sinergia del trabajo colectivo se requiere en la conexión con el mercado. Por ejemplo, en el corregimiento de La Virginia, Peñas Blancas de Calarcá Quindío se poseen diferentes atractivos turísticos y servicios conexos, así como productos artesanales y agroindustriales que pueden ofrecer a los visitantes.

                            br

                            p La comunidad se ha capacitado ampliamente en su actividad económica y están en la cabida de producir productos y prestar servicios de alta calidad. Sin embargo, su flujo de visitantes y clientes es muy bajo, ya que los servicios no se articulan entre sí en un producto turístico y los emprendedores no tienen capacidad económica para participar en espacios para promocionarlos de manera individual. Por lo tanto, la comunidad se organizó en un modelo de negocio de promoción que les permita dar a conocerlos con el mercado para atraer clientes y visitantes hasta el municipio.

                            br

                            p El negocio de promoción no produce ni comercializa los productos y servicios, solo realiza actividades y adelanta acciones de gestión para que la oferta del municipio sea conocida hacia afuera del territorio. Así mismo, la organización está a cargo de leer las necesidades del mercado para informar a sus miembros sobre las exigencias que deben cumplir para satisfacer los mercados a los que se está accediendo a través de las actividades colectivas. Este modelo se expresa de la siguiente manera:

                            br

                            p
                                b Ejemplo de Modelo de Promoción en PICTO
                            
                            .row
                                
                                .col-12.mt-4.text-center

                                    img.img-fluid(src="assets/images/pages/img20.png", style="max-width: 100%")
    
    .card

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 3.2
                    
                    .col-10

                        p.texto2 Expresión de modelo en 
                            i Lean Canvas

                .row.mx-0.mt-3

                    .col-12.px-0

                        p Canvas es también una forma de expresar un modelo de negocios de manera gráfica. Sin embargo, a diferencia del PICTO, este modelo no es tan flexible, ya que tiene una estructura de nueve módulos básicos que reflejan la lógica que sigue una empresa para conseguir ingresos. Estos módulos cubren las cuatro áreas principales de un negocio: clientes, oferta, infraestructuras y viabilidad económica.

                        br

                        p Para los fines del enfoque OVOP, se plantea el modelo Lean Canvas el cual es una adaptación de este modelo a una estructuración más sencilla pero que, a su vez, permiten construir un modelo de negocio más completo que el que se puede obtener a través del modelo PICTO.

                        br

                        p La importancia de estructurar el modelo de negocio colectivo para la gestión de “Mi Producto” OVOP en Lean Canvas, es que se tienen más herramientas e información que permiten avanzar de manera más clara y concreta en la formulación de un plan de gestión de mediano plazo que veremos más adelante.

                        br

                        p En la siguiente imagen se muestran los nueve módulos que hacen parte del modelo Lean Canvas, los cuales contienen preguntas orientadoras que permiten estructurar el modelo del negocio colectivo:

                        br

                        p
                            b Modelo de negocio 
                                i Lean Canvas
                    
                    .col-12.mt-4

                        img.img-fluid(src="assets/images/pages/img21.png", style="max-width: 100%")

    #plan

    .subtitulo-guion

        h2 Plan de gestión de mediano plazo
        
    .card

        .card-body.recuadro2

            .card-text

                .row.mx-0.mt-3

                    .col-12.px-0

                        p Para cumplir con los objetivos de un Negocio Colectivo y generar una verdadera sostenibilidad con visión empresarial, es necesario plantear un Plan de gestión de mediano plazo, el cual es un plan concreto para realizar los conceptos superiores de gestión, como la misión y la visión.

                        br

                        p El período recomendado es de 3 a 5 años. El proceso de creación implica analizar la situación actual, examinar exhaustivamente las direcciones y opciones de la estrategia, seleccionar la que se considere más efectiva y determinar los planes de acción claves.

                        br

                        p En general, el plan de gestión a mediano plazo consiste en una estrategia para toda la empresa, una estrategia específica para cada división y una específica para cada función. En OVOP Colombia, los planes inferiores, aparte de la estrategia para toda la empresa, se incluyen en el plan de acción detallado que se complementarán con diversos apoyos por el Comité.

                        br

                        p A través de unos talleres participativos se puede obtener la información necesaria para diligenciar los formatos que se muestran a continuación y llegar a un acuerdo de proyecto común entre los miembros del negocio colectivo.

                        br

                        p El paso a paso para el diligenciamiento de las matrices, se encuentra en el material complementario de este componente formativo denominado: 
                            b Guía No 7. Negocio Colectivo para la gestión de mi Producto.

                    .col-12.text-center.mt-4

                        img.img-fluid(src="assets/images/pages/img22.png", style="max-width: 80%")

    #materializacion

    .subtitulo-guion

        h2 Materialización del negocio colectivo (NC)
        
    .card

        .card-body.recuadro2

            .card-text

                .row.mx-0.mt-3

                    .col-12.px-0

                        p En el marco del Negocio Colectivo (NC), la formalización es el acto de establecer una organización o empresa colectiva de carácter legal, con el fin de ampliar su capacidad de operaciones comerciales y ser más competitivos para el mercado. Cuando una organización se formaliza, tanto ella como sus miembros están siendo trasparentes con el Estado.

                        br

                        p Actualmente, Colombia cuenta con una legislación vigente para que los ciudadanos que quieran obtener beneficios económicos de una empresa puedan hacerlo bajo parámetros legales, bajo el apoyo y la vigilancia de las Cámaras de Comercio, las Secretarías Económicas, las Superintendencias y los Ministerios.

                        br

                        p En Colombia existen dos figuras ante las Cámaras de Comercio para formalizar una empresa:
                    
                    .col-12.col-md-6

                        ul
                            li.mt-3 Persona natural: es el ciudadano quien personalmente se encargará de ser el titular legal y principalmente responsable de una empresa.
                            li.mt-3 Persona jurídica: “Persona Jurídica es una persona ficticia, capaz de ejercer derechos y contraer obligaciones, y de ser representada judicial y extrajudicialmente” (Cámara de Comercio, 2017).

                    .col-12.col-md-6.text-center

                        img.img-fluid.mt-4(src="assets/images/pages/img2.svg", style="max-width: 70%")
                    
                    .col-12.mt-3

                        p En este mismo orden de ideas, es importante determinar si el negocio colectivo será una empresa con ánimo de lucro o una entidad sin ánimo de lucro. Cualquiera que sea el caso, puede aplicar para formalizar el negocio colectivo; sin embargo, desde el enfoque de OVOP se recomienda formalizarlo como una organización de economía solidaria.

                        br

                        p Una empresa solidaria es “una forma de organizar recursos materiales y humanos para satisfacer necesidades y lograr fines sociales por medio de un objetivo económico, de acuerdo a una forma diferente de hacer economía y entender el desarrollo” (Unidad Administrativa Especial de Organizaciones Solidarias, 2017).

    .card

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 5.1
                    
                    .col-10

                        p.texto2 Proceso de creación

                .row.mx-0.mt-3

                    .col-12.px-0

                        p La comunidad debe realizar una reunión donde se tome la decisión final de crear un negocio colectivo que gestione “Mi Producto” OVOP, de acuerdo al modelo de negocio y al plan de gestión de mediano plazo. Para ello, es importante citar una reunión donde la comunidad discuta y responda las siguientes preguntas:

                    .col-12.col-md-6

                        ul
                            li.mt-3 ¿Quiénes harán parte de la organización?
                            li.mt-3 ¿Cuál es el objetivo principal de la organización?
                            li.mt-3 ¿Qué tipo de organización solidaria quieren ser?
                            li.mt-3 ¿Cuál será el nombre de la organización?
                            li.mt-3 ¿Cuáles son las actividades principales que desarrollará para cumplir el objetivo?
                            li.mt-3 ¿Con cuánto dinero o bienes iniciará la organización?
                            li.mt-3 ¿Cuáles serán los derechos y deberes de los miembros de la organización?
                            li.mt-3 ¿Cómo será el sistema de aportes de los miembros?
                            li.mt-3 ¿Quiénes administrarán inicialmente la organización?

                    .col-12.col-md-6.text-center

                        img.img-fluid.mt-4(src="assets/images/pages/img3.svg", style="max-width: 70%")
    
    .card

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 5.2
                    
                    .col-10

                        p.texto2 Proceso de formalización

                .row.mx-0.mt-3

                    .col-12.px-0

                        p Para crear y formalizar una empresa solidaria se deben seguir los siguientes pasos:

                    .col-12.col-md-6

                        .row

                            .col-12.r1.mt-4

                                p Realizar una reunión para acordar la formalización del negocio y proyectar los estatutos de la organización.
                            
                            .col-12.r2.mt-4

                                p Realizar una asamblea de constitución donde se aprueben los estatutos y se elija la junta directiva.
                            
                            .col-12.r3.mt-4

                                p Elaborar un acta  de constitución firmada por todos los miembros fundadores de la organización.

                            .col-12.r4.mt-4

                                p Llevar el acta de constitución y los estatutos a la Cámara de Comercio de la ciudad donde se encuentra la organizacion para realizar el registro.

                            .col-12.r5.mt-4

                                p Una vez obtenido el registro de Cámara de Comercio, acudir a la Dirección de Impuestos y Aduanas Nacionales (DIAN) para obtener un Registro Único Tributario RUT.

                    .col-12.col-md-6.text-center

                        img.img-fluid.mt-4(src="assets/images/pages/img4.svg", style="max-width: 50%")

    #herramientas

    .subtitulo-guion

        h2 Herramientas de Fortalecimiento – Caso OVOP Colombia
        
    .card

        .card-body.recuadro2

            .card-text

                .row.mx-0.mt-3

                    .col-12.px-0

                        p En este punto se expondrán a través de fichas, algunas estrategias usadas por iniciativas de OVOP Colombia en negocios colectivos y una guía a replicar la experiencia en nuevos territorios.

                .row

                        .col-12.mt-7
                            .card.fondo1
                                .card-body.text-center

                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/img5.svg").avatar-img

                                    p.text-left
                                        b Rueda de negocios

                                    br

                                    p.text-left Las ruedas de negocios son un encuentro entre el productor y/o comercializador y las personas, empresas y organizaciones de un sector definido o relacionado con un producto o servicio y/o interesados en entablar una relación comercial. Por lo general a estos eventos asisten personas con un interés definido y relacionado con su actividad económica.

                                    br

                                    p.text-left En las ruedas de negocios el producto es el protagonista. A este pueden acudir clientes (personas y/o empresas) interesados en ese producto o servicio de manera focalizada, así el interesado encuentra una amplia oferta de lo que está buscando y el productor, comercializador y/o empresario establece nuevas relaciones comerciales y aliados. 
                        
                        .col-12.mt-7
                            .card.fondo2
                                .card-body.text-center

                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/img6.svg").avatar-img

                                    p.text-left
                                        b Catálogo de productos

                                    br

                                    p.text-left Es una herramienta gráfica que permite conocer la oferta de productos de una empresa. A través de imágenes actualizadas, los clientes y potenciales compradores pueden observarlas e incluso explorar sus usos, líneas de producto y puede ingerir sobre los atributos de los productos.

                                    br

                                    p.text-left Los catálogos pueden ser físicos o virtuales, de tal forma que su acceso sea masivo y fácil de multiplicar entre los posibles compradores interesados y de esta forma se cierren negocios efectivos y rentables.
                        
                        .col-12.mt-7
                            .card.fondo3
                                .card-body.text-center

                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/img7.svg").avatar-img

                                    p.text-left
                                        b Estandarización de la producción

                                    br

                                    p.text-left Estandarizar un producto consiste en crear modelos iguales para una producción teniendo en cuenta los atributos del producto, sus cualidades y usos. De esta forma pueden exhibirse en ferias, ruedas de negocio y en el catálogo y se garantiza que el cliente va a recibir el mismo modelo que observa una vez haga el pedido. Este ejercicio es fundamental cuando es necesario atender órdenes de pedidos para clientes mayoristas.

                                    br

                                    p.text-left La estandarización debe ser un proceso que involucre la participación de productores desde la cadena de valor y estar orientado durante su producción; dicha situación será verificada por los encargados del control de calidad.