.container#guia3

    .header-ecored

        h1 3. Guía de estrategia de marca territorial

#objetivos3

.container

    .header-ecored.subtitulo-guion

            h2 Objetivos de la guía

.container

    .row.mx-0.recuadro1

        .col-12

            p El propósito es explicar la Estrategia de Marca Territorial, como una herramienta efectiva para crear cooperación orgánica al nivel departamental, entre varias organizaciones relacionadas con el desarrollo local y los residentes de la comunidad y proporcionar pautas para la realización de talleres. Específicamente, se describe cómo incorporar esta estrategia en el programa OVOP orientado a la comunidad (nivel de operación) e involucrar a las organizaciones relacionadas (nivel de estrategia / política).

            br

            p Para que los centros regionales del SENA coordinen oficialmente para involucrar todas las partes interesadas, se explicará la estrategia de marca territorial y el mecanismo en el nivel departamental (comité departamental) a los directores y subdirectores de la región por medio de una circular.

br#conceptos3

.container

    .header-ecored.subtitulo-guion

        h2 Conceptos de Referencia

.container

    .row.mx-0
        
        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 12.1
                        
                        .col-10

                            p.texto2 Marca

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Según la Asociación Americana de Marketing (AMA), una marca es “un nombre, un término, una señal, un símbolo, un diseño, o una combinación de alguno de ellos que identifica productos y servicios de una empresa y la diferencia de los competidores”. Su función es una promesa a los compradores por parte del vendedor y es la imagen / evaluación de productos por parte del comprador. En la sociedad actual, llena de productos y servicios, la capacidad de las marcas para simplificar las decisiones y reducir el riesgo es cada vez más valiosa.

        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 12.2
                        
                        .col-10

                            p.texto2 Marca territorial

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p La palabra marca territorial se puede expresar de diferentes maneras, pero en esta guía, se definen como marcas las que constan de los siguientes dos componentes:

                            br

                            .row

                                .col-12.col-md-6

                                    ul
                                        li.mb-3 Imagen de territorio, que es la marca de toda la región.
                                        li.mb-3 Productos y servicios locales, utilizando recursos locales.
                                    
                                    p Los requisitos para que sean seleccionados como productos OVOP son:

                                    br

                                    ol
                                        li.mb-3 Los productos candidatos deben tener características locales. 
                                        li.mb-3 Los productos son producidos e industrializados localmente.
                                        li.mb-3 Los productos motivan el orgullo, amor e identidad de la comunidad.
                                        li.mb-3 Los productos pueden convertirse en aspectos de valor agregado. Teniendo en cuenta estos requisitos, se puede decir que los que son OVOP coinciden en la definición mencionada de productos y servicios locales que utilizan recursos locales y tienen el potencial alto de contribuir a la mejora de la imagen territorial.

                                .col-12.col-md-6.text-center

                                    img.img-fluid.mt-4(src="assets/images/pages/img11.svg", style="max-width: 80%")
        
        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 12.3
                        
                        .col-10

                            p.texto2 Estrategia de marca

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Es "El proceso de dar poder de marca a los productos y servicios y hacer la diferencia" (Kotler, 2008). En otras palabras, es una estrategia para buscar el valor del cliente, ideándolo para que pueda distinguirse adecuadamente de los demás, promover la toma de decisiones obteniendo una posición deseable entre los clientes, y en última instancia, mejorar la evaluación de los clientes.

                            br

                            p La pregunta principal será la siguiente: 
                                i “Si fuéramos clientes, ¿qué querríamos que hicieran?”
                            
                            .row

                                .col-12.text-center

                                    img.img-fluid.mt-4(src="assets/images/pages/img34.png", style="max-width: 80%")
        
        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 12.4
                        
                        .col-10

                            p.texto2 Estrategia de marca territorial

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Es una estrategia para la revitalización regional, así como la estrategia de marcas de los dos componentes de la marca territorial: 1) Imagen de territorio y 2) Productos y/o servicios locales.

                            br

                            p Esta guía aplica la siguiente definición del Ministerio de Economía, Comercio e Industria de Japón: Estrategia para revitalizar el territorio atrayendo fondos y recursos humanos fuera del de él, a través de un buen ciclo que se genere desde la articulación de 1) Creación de marca de los productos y servicios del territorio, 2) Creación de marca de la imagen del territorio.

                            .row

                                .col-12.text-center

                                    img.img-fluid.mt-4(src="assets/images/pages/img35.png", style="max-width: 100%")
                            
                            p.mt-4 La implementación de la estrategia de marca territorial se puede dividir ampliamente en las siguientes tres etapas:

                            br

                            p
                                b Construcción: 
                                | el comité departamental con enfoque en marca territorial analizará la dinámica productiva y económica del territorio con el propósito de vincular los emprendimientos de las iniciativas con la tendencia del municipio, para lo cual es necesario que las entidades brinden una oferta institucional que contribuya al fortalecimiento y consolidación de las unidades de negocios. 

                            p Este mecanismo igualmente proporcionará información relevante acerca de las tendencias de mercado. Con base a la oferta institucional de las entidades, este mecanismo contribuye a la promoción y difusión de los productos existentes en las iniciativas. Los productos descubiertos o desarrollados en esta etapa contribuirán a mejorar el reconocimiento y la imagen del territorio.

                            br

                            p Los ejemplos de oferta institucional serán: 1) Resultados de análisis científico de recursos locales, 2) Soporte de investigación de mercado / competitivo, 3) Soporte de desarrollo de productos, 4) Soporte de formación de organización, 5) Espacio para prueba de ventas, etc.

                            br

                            p
                                b Aprovechamiento: 
                                | si el reconocimiento local del producto y servicios es alto y se ha establecido una buena imagen del territorio, es posible desarrollarlos utilizando la imagen de este. Por ejemplo, se puede agregar el nombre del territorio al nombre del producto, cambiar el diseño del paquete o la forma para que coincida con su imagen. Además, también es posible utilizar la figura local para crear la atmósfera del lugar de venta.
                            
                            br

                            p Los ejemplos de oferta institucional serán:

                            br

                            ol
                                li.mb-3 Soporte de mejora de productividad.
                                li.mb-3 Soporte de control de calidad.
                                li.mb-3 Mejoramiento de diseño.
                                li Reconocimiento de productos de marca territorial, etc.
                            
                            br

                            p
                                b Administración: 
                                | el comité validará las condiciones de calidad apropiadas de los productos vinculados a la marca territorial creados, diseñando estrategias de administración para el uso de esta referencia.
                            
                            br

                            p Los ejemplos de oferta institucional serán:

                            br

                            ol
                                li.mb-3 Observación de estándares de uso de marca.
                                li.mb-3 Verificación continua de las evaluaciones de clientes.
                                li  Soporte para reflexionarlos a los productos, etc.
                            
                            br

                            p La estrategia de marca territorial se debería basar en los dos ejes principales de OVOP Colombia, que es promover la participación social y fortalecer la competitividad de los productos.

                            br

                            p En este sentido, se recomienda considerar las dos etapas para las marcas, como unas municipales que promueven la participación social (o marcas existentes de OVOP Colombia) y departamentales y/o nacionales que garantizan la calidad de productos.

                            .row

                                .col-12.text-center

                                    img.img-fluid.mt-4(src="assets/images/pages/img36.png", style="max-width: 100%")
                            
                            p.mt-4 Por ejemplo, el logotipo desarrollado en el proyecto OVOP Colombia implementado desde 2014, es ampliamente utilizado y genera un cierto grado de participación social, pero no tiene una función para garantizar la calidad del producto. Se dice que las marcas locales a nivel municipal tienden a tener la misma situación.

                            br

                            p Por lo tanto, se recomienda utilizar marcas territoriales a nivel de departamento para la calidad de los productos, los cuales garantizan el valor para el cliente. Además, empezar con marcas municipales, es decir, la promoción de la participación social no solo contribuye a la consolidación de la paz a la que apunta OVOP Colombia, sino que también sirve como base para la innovación a través del ingenio y la sinergia de diversos miembros.

                            .row

                                .col-12.text-center

                                    img.img-fluid.mt-4(src="assets/images/pages/img37.png", style="max-width: 100%")

br#asuntos2

.container

    .header-ecored.subtitulo-guion

        h2 Asuntos preliminares

.container

    .row.mx-0
        
        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Existen dos condiciones previas para la implementación del taller de estrategia de marca territorial: 

                            br

                            ul
                                li.mb-3 Nivel de operación.
                                li Nivel de estrategia y/o política.
                            
                            br

                            p El primer requisito previo, que es de nivel operativo, es el progreso del programa OVOP y es deseable que se haya completado la segunda fase de la Ruta Metodológica.

                            .row

                                .col-12.col-md-6

                                    p.mt-4 Los principales elementos a alcanzar son los siguientes:

                                    br

                                    ul
                                        li.mb-3 Lista de recursos locales.
                                        li.mb-3 Sueño colectivo de la comunidad.
                                        li.mb-3 Mi producto local (un producto o servicio local en el que han decidido trabajar primero).
                                        li.mb-3 Plan de acción comunitaria.

                                .col-12.col-md-6.text-center

                                    img.img-fluid.mt-4(src="assets/images/pages/img3.svg", style="max-width: 50%")
                            
                            p.mt-4 El segundo requisito previo, que es de nivel estrategia y/o política es el grupo base del comité departamental OVOP; es decir, es deseable que las partes interesadas tengan un estado de intención para participar en talleres y conferencias a través de la explicación de las actividades de OVOP a la gobernación y otras instituciones públicas del departamento.

                            br

                            p Dado que los Centros Regionales del SENA necesitan hacer ajustes en su conjunto, los directores y subdirectores de los centros regionales estarán bien informados a través de la circular enviada desde la Dirección General.

                            br

                            p Se requiere que cada instructor de OVOP Colombia trabaje con el director del centro y el coordinador del departamento (si existe) para formar la base del comité departamental, dependiendo del progreso del programa del que es responsable.

                            br

                            p En OVOP Colombia durante los últimos seis años, varias instituciones como los siguientes han participado en el comité departamental y desarrollado diversas actividades.

                            br

                            ul
                                li.mb-3 Gobernación (Secretaría de Producción, Secretaría de Planeación, Oficina de Productividad y Competitividad, etc.).
                                li.mb-3 Alcaldía.
                                li.mb-3 SENA (Subdirector de Centro Regional, etc.).
                                li.mb-3 Cámara de Comercio.
                                    ul.mt-3
                                        li.mb-3 Universidades.
                                        li.mb-3 Organizaciones sociales.
                                        li.mb-3 Fundaciones.
                                        li Grupo de artesanos, productores, etc.

br#desarrollo2

.container

    .header-ecored.subtitulo-guion

        h2 Desarrollo del taller

.container

    .row.mx-0
        
        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0

                        .col-12.px-0

                            p El método de aplicación de la estrategia de marca territorial se organiza, en términos generales, en los siguientes cinco pasos como está descrito en la ruta metodológica de OVOP:

                            br

                            ol
                                li.mb-3 Establecer el mecanismo.
                                li.mb-3 Implementar la educación interna sobre marca.
                                li.mb-3 Reconocer la situación actual dentro y fuera del territorio.
                                li.mb-3 Planificar el esquema general de la Estrategia de Marca Territorial.
                                li Elaborar el Plan de Acción Estratégico.
                            
                            p A continuación, se muestra una descripción de los contenidos propuestos del taller para cada paso. Se recomienda que el instructor examine los contenidos de la aplicación a la comunidad real, de acuerdo con las diversas situaciones del departamento y la comunidad.
                    
                    .row.mx-0.align-items-center.mt-4
                    
                        .col-auto.text-center.recuadro3

                            p 14.1
                        
                        .col-10

                            p.texto2 Establecer el mecanismo
                    
                    .row.mx-0.mt-4

                        .col-12.px-0

                            p El objetivo de este paso es crear las bases para el mecanismo de promoción. Específicamente, varios miembros, incluidas las instituciones públicas en el departamento, entender los conceptos básicos de la estrategia de marca territorial, tener la intención de asistir a reuniones futuras e invitar a partes relacionadas. El procedimiento de implementación propuesto es el siguiente:
                        
                        .col-12.text-center

                            img.img-fluid.mt-4(src="assets/images/pages/img38.png", style="max-width: 100%")
                        
                        .col-12.mt-4

                            ul
                                li.mb-3 Declaraciones de asistencia a las próximas reuniones e intención de invitar a partes conexas.
                                li.mb-3 Comprender el valor de la marca y considerar cómo contribuirla.
                                li.mb-3 Analizar la situación actual del departamento a partir de productos de OVOP y productos que ya existen en el territorio.
                                li Establecer un esquema de estrategia de marca territorial basado en los productos OVOP y si es necesario, considerar otras marcas también.
                                    ul.mt-3
                                        li Crear o revisar un Plan de Acción Estratégico.

                            p El instructor también debe alentar a los participantes a intercambiar opiniones, basado en uno de los tres principios de OVOP:

                            br

                            ol
                                li.mb-3 Autogestión y creatividad.
                                li.mb-3 Respetar las opiniones de cada persona.
                                li Alentar discusiones interactivas son las semillas de la innovación. Finalmente, coordinar el próximo taller y obtener una declaración positiva de participación.

        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 14.2
                        
                        .col-10

                            p.texto2 Implementar la educación interna sobre marca

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p El objetivo de este paso es que las partes interesadas locales comprendan el valor de la marca y comiencen a considerar cómo contribuir. La estrategia de marca se debe a que todos los involucrados en la provisión de ella realmente toman medidas, por lo que es necesario que todos la comprendan. El procedimiento de implementación propuesto es el siguiente:

                            br

                            p
                                b Descripción de "el valor de la marca" en detalle
                            
                            br

                            p Explique a lo que apunta la estrategia de marca, la mejora de valor de marca y los ejemplos específicos de acciones.

                            br

                            p
                                b Agrupación y comprensión profunda de cada actor (si las entidades están participando)
                            
                            br
                            
                            ul
                                li.mb-3
                                    b Para los personales de la entidad, etc.: 
                                    | el instructor debe explicar concretamente el papel de las instituciones públicas y dar ejemplos de acciones en las tres etapas (construir, aprovechar y administrar), que es el flujo general de formación de marca territorial.
                                li
                                    b Para los miembros de la iniciativa: 
                                    | aliéntelos a responder a través de un trabajo grupal al cuestionario para la confirmación del estado para mi producto (productos OVOP seleccionados), cómo definir el valor de la marca, difundir información y establecer canales de venta.

                            br

                            p Aliéntelos a pensar en lo que han aprendido y cómo contribuir a la marca. Las ideas simples que salgan serán útiles para el último paso: elaboración de Plan de Acción Estratégico.

                            br

                            p El instructor también debe alentar a los participantes a intercambiar opiniones, basado en uno de los tres principios de OVOP:

                            br

                            ol
                                li.mb-3 Autogestión y creatividad.
                                li.mb-3 Respetar las opiniones de cada persona.
                                li Alentar discusiones interactivas son las semillas de la innovación. Finalmente, coordine el próximo taller y obtenga una declaración positiva de participación.

        .card

            img.img-fluid(src="assets/images/pages/img39.png", style="max-width: 100%")

            .card-body.recuadro2
            
                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 14.3
                        
                        .col-10

                            p.texto2 Reconocer la situación actual dentro y fuera del territorio

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p El objetivo de este paso es reconocer la situación actual en el territorio a partir de productos de OVOP y productos que ya existen en el territorio. Analizar la estrategia de marca territorial fuera de la región y conocer el proceso es una herramienta eficaz; sin embargo, no se trata directamente en esta etapa. Los instructores pueden pedir a las entidades como la gobernación que comparta la información o el conocimiento que tiene. El procedimiento de implementación propuesto es el siguiente:

                            br

                            p
                                b Anuncio de los productos OVOP de la iniciativa (resultados del estudio de la reunión anterior)
                            
                            br

                            p Si hay una respuesta al cuestionario para la confirmación del estado en el taller anterior, como la definición del valor de la marca, la difusión de información y la configuración del canal de ventas, etc. para Mi producto de OVOP, haga que lo anuncie. No se requiere una respuesta perfecta en esta etapa y se debe confirmar con los asistentes la importancia de tratar de comprender la situación actual desde la perspectiva de la estrategia de marca.

                            br

                            p
                                b Comentarios de las partes interesadas sobre el anuncio
                            
                            br

                            p intercambiarán opiniones centrándose en dos puntos:

                            ol.mt-3
                                li.mb-3  Proporcionar información objetiva desde el exterior del negocio y
                                li Compartir lo que se puede hacer como persona involucrada en el fortalecimiento de la marca.

                            p Esfuércese por organizar y aclarar la información que conducirá a acciones futuras, como revisar ideas del último intercambio de opiniones, enumerar "métodos para contribuir a la marca" y compartirlos dentro del grupo.

                            br

                            p
                                b Explicación del análisis de productos y métodos de mejora de la marca en el departamento
                            
                            br

                            p Además de un producto de las actividades de OVOP, amplíe el campo de visión, analice el estado actual de los productos y servicios en el departamento y explique el método básico para establecer una estrategia de marca adecuada basada en los resultados del análisis. Será mejor que haya algún intercambio de información desde las entidades, tales como marcas territoriales existentes y los productos que ya se han aprobado y están utilizando la marca.

                            br

                            p
                                b Análisis de la situación actual de los productos en el departamento
                            
                            br

                            p con base en la “Explicación del análisis de productos y métodos de mejora de la marca en el departamento”, analice la situación actual de los productos y servicios en el departamento, a través del trabajo grupal.

                            br

                            p
                                b Anuncio de lo que los participantes pueden hacer ideas simples para el último paso
                            
                            br

                            p Desde las siguientes perspectivas, anuncie lo que es posible que haga cada participante y fomente el intercambio de opiniones en su conjunto:

                            ul.mt-3
                                li.mb-3
                                    b Personal de la entidad y organización: 
                                    | para mejorar la imagen territorial (Ej.: información sobre la oferta institucional de los participantes, etc.).
                                li
                                    b Iniciativa: 
                                    | para fortalecer la marca de productos OVOP.4
                            
                            p Nuevamente, esfuércese por organizar y aclarar la información que conducirá a acciones futuras, como enumerar ¿Cómo contribuir a las marcas? y compartirla dentro del grupo. Basado en uno de los tres principios de OVOP. Finalmente, coordine el próximo taller y obtenga una declaración positiva de participación.
        
        .card

            .card-body.recuadro2
            
                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 14.4
                        
                        .col-10

                            p.texto2 Planificar el esquema general de la estrategia de marca territorial

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p El objetivo de este paso es determinar el esquema de la Estrategia de Marca Territorial del departamento para los productos OVOP. Las organizaciones del departamento pueden examinarla positivamente para Mi producto de OVOP seleccionado en esta etapa, con el propósito de reexaminar las estrategias de desarrollo local y obtener pistas. Se cree que luego, si es necesario, considere la posibilidad de formular una Estrategia de Marca Territorial para las marcas y productos / servicios locales existentes en el departamento. El procedimiento de implementación propuesto es el siguiente.

                            br

                            p
                                b Explicación de la manera de establecimiento del esquema de estrategia de marca
                            
                            br

                            p Explique la importancia y el efecto de establecer un marco amplio para la estrategia de marca, centrándose en el concepto de marca.

                            br

                            p
                                b Establecer un esquema estratégico de marca para los productos OVOP
                            
                            br

                            p Dividiéndolos en dos grupos, revise y anuncie el esquema de la estrategia de marca.

                            ul.mt-3
                                li.mb-3
                                    b Entidad, etc.: 
                                    | cumplir los objetivos y metas de las estrategias de marca territorial.
                                li
                                    b Iniciativa: 
                                    | cumplir el concepto de la marca.
                            
                            p
                                b Repasar el contenido general
                            
                            br

                            p Aliente el intercambio de opiniones entre todos con alguna manera eficaz, como poner los resultados de toda la presentación en el lugar. Sin embargo, la decisión final no se tomará en esta ocasión y aclare que la iniciativa es responsable de Mi producto OVOP y las entidades relacionadas son responsables de la visión del área de producción y la marca territorial, refriéndose a diversas opiniones e información. Se recomienda que las actividades se especifiquen en el Plan de Acción Estratégico que se desarrollará en el siguiente paso.

                            br

                            p
                                b Examinar otras marcas en el departamento
                            
                            br

                            p Considere si el comité departamental manejará otras marcas territoriales y si habrá sinergias con OVOP.

                            ul.mt-3
                                li.mb-3
                                    b Entidad, etc.: 
                                    | ¿El comité tratará y manejará otras marcas?
                                li
                                    b Iniciativa: 
                                    | ¿Hay una marca que pueda ser aprovechada por los productos OVOP?
                            
                            p Finalmente, coordine el próximo taller y obtenga una declaración positiva de participación.
        
        .card

            .card-body.recuadro2
            
                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 14.5
                        
                        .col-10

                            p.texto2 Elaborar el plan de acción estratégico

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p El objetivo de este paso es crear o revisar el Plan de Acción Estratégico basado en la estrategia de marca territorial. Sin embargo, esta etapa se puede realizar solo en el caso que haya cierto nivel de participación de las entidades en el departamento al taller de OVOP. Si no, esta actividad se realizará en otra ocasión, donde se creará por otra ruta de trabajo departamental.

                            br

                            p Además, en algunos departamentos, se han formado comités basados en las actividades de OVOP. En ese caso, vale la pena considerar revisar el plan de acción del comité basado en la estrategia de marca territorial que se ha revisado junto con Mi producto de OVOP. El procedimiento de implementación propuesto es el siguiente:

                    .row.mx-0.mt-3

                        .col-12.col-md-6

                            p
                                b Descripción de cómo establecer el Plan de Acción Estratégico
                            
                            br

                            p Proporcione información de referencia para crear un plan de actividad estratégica.

                            br

                            p
                                b Proporcionar consejos en áreas donde se mejora la competitividad de los productos
                            
                            br

                            p además de revisar la información de entrada en cada paso hasta el momento, proporcione información relacionada con actividades estratégicas del departamento, como información básica de marketing, según sea necesario.

                            br

                            p
                                b Revisión del plan de acción comunitario
                            
                            br

                            p Comparta planes de actividades a nivel comunitario de los miembros de la iniciativa.

                            br

                            p
                                b Estructuración del plan de acción estratégico

                            br

                            p investigue el plan a través del trabajo grupal. Si solo hay una iniciativa OVOP en el departamento, es posible considerar si es mejor integrar el Plan de Acción Comunitario en el Plan de Acción Estratégico que se creará.
                        
                        .col-12.col-md-6.text-center

                            img.img-fluid.mt-4(src="assets/images/pages/img12.svg", style="max-width: 80%")

br#experiencias

.container

    .header-ecored.subtitulo-guion

        h2 Experiencias OVOP

.container

    .row.mx-0
        
        .card

            .card-body.recuadro2

                .card-text

                    .row.mx-0

                        .col-12.px-0

                            p En esta parte, se presentan ejemplos específicos relacionados con la promoción de estrategias de marca territorial, basadas en la filosofía de OVOP Colombia desde las dos perspectivas:

                            ol.mt-3
                                li.mb-3 Promover la participación social.
                                li Mejorar la competitividad de los productos.
        
        .card.mb-0

            .card-body
            
                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 15.1
                        
                        .col-10

                            p.texto2 Aumento de participación e inclusión social y fortalecimiento de la cohesión social

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p En esta parte, se presentan ejemplos específicos relacionados con la promoción de estrategias de marca territorial, basadas en la filosofía de OVOP Colombia desde las dos perspectivas:

                            ol.mt-3
                                li.mb-3 Promover la participación social.
                                li Mejorar la competitividad de los productos.

                            p
                                b Herramientas para ampliación de participación OVOP
                            
                            br

                            p A continuación, se presentan las herramientas para aumentar la participación en las actividades de la iniciativa. Conviene poner atención en que, para aplicarlas, se requieren ciertas condiciones, escogiendo el momento adecuado para aplicar las herramientas. Los impactos pueden ser diferentes dependiendo del tipo de producto que se quiere promover en la iniciativa, así como los aspectos social y cultural en el territorio:
            
            img.img-fluid(src="assets/images/pages/img40.png", style="max-width: 100%")
    
        .col-12.recuadro1

            ul
                li
                    b FAM TRIP o viaje de familiarización: 
                    | es una herramienta efectiva, especialmente para promover las iniciativas con productos de turismo. Se visita para conocer y confirmar los productos y servicios ofrecidos por los participantes de OVOP a su propia comunidad. Eso puede contribuir a fortalecer las relaciones entre los participantes de OVOP y mejorar la articulación interna de ellos, generando redes de apoyo, lo cual permite aumentar la confianza entre los pobladores de la propia comunidad. El Acompañamiento de funcionarios del gobierno local está también recomendado, para que ellos puedan comprender mejor lo que se pretende mediante OVOP.

                p.mt-4
                    b Referencia: 
                    | Villavieja (Huila) y Filandia (Quindío).
        
        img(src="assets/images/pages/img41.png", style="max-width: 100%")

        .col-12.recuadro1

            ul
                li
                    b Catálogo comunitario: 
                    | se produce de manera participativa y tiene por objetivo mostrar los productos y servicios que motivan orgullo en la comunidad. En este sentido, debe evitarse la confusión con otro tipo de catálogos que tienen por objetivo mostrar la comunidad hacia fuera. Su producción es una herramienta útil para promover la cogestión social e integración hacia dentro.

        img(src="assets/images/pages/img42.png", style="max-width: 100%")

        .col-12.recuadro1

            ul
                li
                    b Eventos - festivales y ferias: 
                    | organizar eventos tales como festivales y ferias en torno a los productos y servicios de OVOP, puede crear oportunidades para promocionar OVOP y aumentar la participación comunitaria. Estos eventos pueden ser organizados por el Comité local OVOP y agregar actividades especiales que puedan contribuir a aumentar: orgullo, amor, identidad, cohesión social e integración de la comunidad.

                p.mt-4
                    b Referencia: 
                    | Tierradentro (Cauca), Villavieja (Huila), Mompox (Bolívar), Filandia (Quindío), Paipa- Sotaquirá (Boyacá), Tuchín (Córdoba).

            .row

                .col-12.col-md-6

                    p
                        b Mejoramiento de los productos OVOP

                    p OVOP se desarrolla bajo tres principios: 

                    ol.mt-4
                        li.mb-3 Autogestión y creatividad.
                        li.mb-3 Pensar globalmente y actuar localmente.
                        li Desarrollo de recursos humanos.
                    
                    p Con estos tres principios, las comunidades mejoran sus productos y servicios para transformarlos en productos OVOP y este mejoramiento contribuye a generar más participación.

                    br

                    p Los participantes de OVOP no se quedan esperando que el apoyo llegue a la comunidad, al contrario, se identifica la necesidad y se busca el apoyo entre si mismos.

                    br

                    p Con estos tres principios, las comunidades mejoran sus productos y servicios para transformarlos en productos OVOP y este mejoramiento contribuye a generar más participación.

                    br

                    p Los participantes de OVOP no se quedan esperando que el apoyo llegue a la comunidad, al contrario, se identifica la necesidad y se busca el apoyo entre si mismos.

                .col-12.col-md-6.text-center

                    img.img-fluid.mt-4(src="assets/images/pages/img13.svg", style="max-width: 80%")
                
            p En las iniciativas del proyecto OVOP, muchos productos han sido apoyados y mejorados por los aliados; es decir, las entidades públicas. Por ejemplo: con el apoyo del SENA, la cooperativa AGROLAC de Queso Paipa, mejoró su empaque para mantener la calidad del producto. En Susa, la canasta tradicional para vender tomate cherry ha sido sugerido a cambiar por la canasta plástica, para que no se dañen los productos.

            p
                b Referencia: 
                | Villavieja (Huila), Susa (Cundinamarca), Paipa-Sotaquirá (Boyacá).

            p
                b Marca territorial
            
            p Es una herramienta que facilita el posicionamiento de la imagen, la cual refleja la aspiración de un territorio; esto es, cómo quieren las personas que sea y cómo desea la gente, afuera de él lo reconozcan. Desde el punto de vista de la participación, la marca territorial, se entiende como orgullo e identidad de la comunidad; eso contribuye al aumento de la cohesión social y a la diferenciación productiva.

            p La iniciativa de Villavieja, tenía su marca territorial desde tiempo atrás, la cual era: "Una Ventana hacia el Universo", pero no había sido articulada como una marca territorial propia de Villavieja. 

            p Sin embargo, a medida que OVOP comenzó a avanzar, se inició el proceso de aceptación de la marca territorial por parte de Villavieja, reflexionándola como parte de su sentimiento de identidad y a la vez asumiendo su producto, el turismo astronómico. 

            p En el año 2018, con el apoyo de la alcaldía y la gobernación del Huila, a través del FONTUR (Fondo Nacional de Turismo), se reconoció oficialmente su marca territorial y la comunidad la está utilizando con mucho orgullo.

            p En los municipios de Inzá y Páez en Tierradentro, departamento de Cauca, donde se promueve el turismo étnico, se creó la marca territorial "Tierradentro: Maravillas por Vivir" para promocionar el turismo étnico. Recientemente se ha modificado la marca territorial, por lo cual ahora se la denomina: "Tierradentro: Mágico y Natural" para destacar los aspectos atractivos y hacer la promoción hacia fuera.

            p
                b Referencia: 
                | Villavieja (Huila), Tierradentro (Cauca).

        .col-12.recuadro5.text-center

            img(src="assets/images/pages/img43.png", style="max-width: 100%")
        
        .row.mx-0.recuadro1.recuadro2

            .col-12.col-md-6

                p
                    b Organizaciones promotoras de OVOP
                
                br

                p Al promover OVOP, se forma el Comité local con individuos, empresas y organizaciones de diferentes sectores y grupos que tienen interés en esta iniciativa. 

                p Aparte del Comité local OVOP, a medida que se avanza en las actividades, en algunas iniciativas se han venido creando organizaciones que tienen visión más amplia, enfocadas en el desarrollo local de la comunidad. La opción que cada una ha escogido, ha sido diferente; algunas han optado por crear una corporación, otras por empresas o sociedades, las cuales realizan diversos trabajos y servicios de manera independiente, con el fin de conseguir un beneficio común.

                p En Tierradentro, departamento de Cauca, se formó una corporación antes del inicio del Proyecto OVOP Colombia. Su nombre es CEMTUR (Corporación Empresarial Destinos Turísticos Tierradentro).

                p Cuenta con 29 socios, entre guías, comerciantes, artesanos, hoteleros, entre otros, tanto en el municipio de Inzá como en Páez. CEMTUR hace la planificación y la gestión de venta de los productos y servicios comunitarios, ofrece ecoturismo y turismo comunitario, planifica y gestiona eventos tales como ferias, eventos especiales y conferencias.

                p Por su parte, en el municipio de Filandia (Quindío), se creó TAVANTE S.A.S. de la cual forman parte más de 80 accionistas, los cuales expresan como un sueño “emprender un turismo sostenible y rentable”, a partir de la experiencia de OVOP. TAVANTE logró como primer caso de alianza público-privada y la administración del mirador construido por la alcaldía municipal.

                p
                    b Referencia: 
                    | Filandia (Quindío), Tierradentro (Cauca).

            .col-12.col-md-6.text-center

                img.mt-4(src="assets/images/pages/img44.png", style="max-width: 100%")
        
        .card.mt-4

            .card-body.recuadro2
            
                .card-text

                    .row.mx-0.align-items-center
                    
                        .col-auto.text-center.recuadro3

                            p 15.2
                        
                        .col-10

                            p.texto2 Aliados de apoyo externo para promover OVOP incluyente

                    .row.mx-0.mt-3

                        .col-12.px-0

                            p Para lograr el desarrollo local incluyente en OVOP, la comunidad busca apoyo de aliados en el territorio. Estos, pueden ser: entidades públicas a nivel local, departamental, regional y nacional, universidades y empresas privadas. Los aliados también deben entender y aplicar la misma lógica del mecanismo de OVOP Colombia, de manera que ambas partes puedan lograr ganancias.

                            br

                            p
                                b Rol de los gobiernos locales

                            br
                            
                            p Los gobiernos locales acompañan y monitorean las iniciativas. Ellos actúan como promotores de OVOP, en actividades como la organización de eventos. Los gobiernos locales deben también buscar apoyo para promover la iniciativa, aun careciendo de fondos, comunicando las necesidades a otras entidades a nivel departamental y regional. Estas acciones pueden contribuir a mejorar la confianza de la comunidad hacia los gobiernos locales.

                            br

                            p
                                b Rol de los gobiernos departamentales
                            
                            br

                            p El Comité departamental OVOP es indispensable para la divulgación en Colombia. Como OVOP fue incorporado en los Planes Nacionales de Desarrollo de 2010-2014 y 2014-2018, muchos departamentos, por decreto, han formado el Comité departamental y designado la oficina coordinadora en cada departamento.

                            br

                            p Algunos casos son: la Oficina de Productividad y Competitividad de la Secretaría de Planeación en el departamento de Huila (Decreto 227 del año 2013), la Secretaría de Productividad, TIC y Gestión del Conocimiento en la Gobernación de Boyacá (Decreto 1223 del año 2010) y la Secretaría de Planeación en el departamento de Cundinamarca (Decreto 069 del año 2011).

                            br

                            p Aparte del apoyo de la gobernación, en el Proyecto OVOP, la Cámara de Comercio también ha ofrecido su rol como coordinador de este programa en el departamento del Quindío.

                            br

                            p
                                b Alianza con universidades

                            br
                            
                            p Para promover OVOP, tener alianza con universidades también es positivo. En algunas iniciativas, estas instituciones educativas participan en el Comité departamental OVOP.

                            br

                            p Los estudiantes de maestría y/o doctorado pueden colaborar en las iniciativas, elaborando estudios relacionados con sus tesis o realizando pasantías para ampliar sus conocimientos. Estas colaboraciones pueden ser complementarias al apoyo de entidades públicas y también pueden ser una oportunidad para las universidades de contribuir al proceso de desarrollo local.

                            br

                            p Algunos casos son: la Oficina de Productividad y Competitividad de la Secretaría de Planeación en el departamento de Huila (Decreto 227 del año 2013), la Secretaría de Productividad, TIC y Gestión del Conocimiento en la Gobernación de Boyacá (Decreto 1223 del año 2010) y la Secretaría de Planeación en el departamento de Cundinamarca (Decreto 069 del año 2011).

                            br

                            p Aparte del apoyo de la gobernación, en el Proyecto OVOP, la Cámara de Comercio también ha ofrecido su rol como coordinador de este programa en el departamento del Quindío.

                            br

                            p
                                b Referencia: 
                                | Villavieja (Huila), Paipa-Sotaquirá (Boyacá)

                        .col-12.col-md-6

                            p
                                b Alianza con el sector privado
                            
                            br

                            p Los aliados de OVOP no se limitan únicamente a entidades gubernamentales o universidades. Existen casos en donde se tiene alianza con empresas privadas.

                            br

                            p La Alcaldía de Villavieja organizó el primer “Festival de estrellas” en agosto de 2017, para promover el turismo astronómico. Asistieron más de 4.000 turistas al Desierto de la Tatacoa, pero después del evento, que significó fiesta, fogatas y tiendas de campaña, abundó la basura, lo que generó un gran daño al medio ambiente.

                            br

                            p En esa ocasión, la comunidad asumió la responsabilidad del desarrollo sostenible y pensó que debía actuar por sí misma para preservar el medio ambiente del desierto. Se trataba nada menos que de los recursos naturales, los cuales son el tesoro de su comunidad.

                            br

                            p Se consiguió el apoyo de las empresas privadas y ellos mismos organizaron la campaña para proteger el ambiente comunitariamente.

                            br

                            p
                                b Referencia: 
                                | Villavieja (Huila).

                        .col-12.col-md-6.mt-4.text-center

                            img(src="assets/images/pages/img45.png", style="max-width: 80%")