.container#introduccion1

    .header-ecored

        h1 Introducción

    .row.mx-0
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/mKTOkhi3A0Q', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .card-body

                .card-text

                    .row.mx-0

                        .col-12

                            p La metodología para la implementación de OVOP en los territorios, se fundamenta en una serie de pasos distribuidos en 5 grandes fases.

                            br

                            p Esta guía corresponde a la Fase IV de la ruta metodológica OVOP (Desarrollo de Negocio Colectivo), más específicamente el paso 3-2 Gestionar el producto OVOP, el cual ha sido seleccionado a través de diferentes actividades a lo largo de la ruta y se propone como respuesta a la necesidad de organización de la comunidad para adelantar acciones colectivas que les permita aumentar su capacidad de producción, mejorar sus procesos administrativos y consecuentemente, incrementar sus ingresos y sus relaciones comerciales.

                            br

                            p Este documento brinda las pautas para la creación de un Negocio Colectivo (NC), con posibilidades de desarrollo en un territorio definido. Esta actividad se sustenta en el trabajo en equipo y la autogestión de una comunidad perteneciente a una región, en torno a su producto propio. 

                            br

                            p Los pasos planteados en la presente están basados en la experiencia adquirida durante la primera fase del proyecto OVOP Colombia y está fundamentado en procesos económicos que mejoren las condiciones de vida en un territorio específico.