.container#introduccion2

    .header-ecored

        h1 Introducción

    .row.mx-0
        
        .card

            img.img-fluid(src="assets/images/pages/img23.png", style="max-width: 100%")

            .card-body

                .card-text

                    .row.mx-0

                        .col-12

                            p El desarrollo local en Colombia es fundamental para generar un proceso de cambio y crecimiento territorial en términos económicos, sociales, culturales y ambientales; en este sentido, OVOP es un enfoque de desarrollo local que consiste en la identificación, descubrimiento o redescubrimiento de la potencialidad del territorio, en términos culturales, sociales, ambientales, arquitectónicos, productivos, turísticos etc., como elementos que puestos en valor reactivan la economía local, permitiendo una sostenibilidad social, cultural y económica de las personas en su territorio.

                            br

                            p En OVOP Colombia, el concepto de “Mi Pueblo, Mi Producto, Mi Orgullo”, comprende tres componentes importantes para el desarrollo territorial. «Mi Pueblo» hace referencia a (el/los) territorio(s) en el (los) que la comunidad trabaja para alcanzar su «sueño colectivo». «Mi Producto» se refiere al producto que caracteriza el territorio. «Mi Orgullo» está relacionado con la identidad y el orgullo que la comunidad siente por su territorio y sus respectivos productos.

                            br

                            p En este contexto, el Servicio Nacional de Aprendizaje SENA, con el apoyo de la Agencia Cooperación Internacional del Japón, diseñaron una metodología para la implementación de OVOP en los territorios, la cual se fundamenta en una serie de pasos distribuidos en 4 fases y están contenidas en dos diseños y desarrollos curriculares denominados: Orientación en la Metodología One Village - One Product – Colombia dirigida a instructores y el desarrollo local incluyente bajo el enfoque Mi Pueblo, Mi Producto, Mi Orgullo encaminado al fortalecimiento de las comunidades.

                            br
                            
                            p Por tanto, se explicarán las actividades a realizar dentro de la fase de desarrollo del negocio colectivo de la ruta metodológica, la cual busca que la comunidad identifique, clasifique, seleccione y analice actores claves que permitirán potencializar el desarrollo de la iniciativa.

