.container#introduccion3

    .header-ecored

        h1 Introducción

    .row.mx-0
        
        .card

            img.img-fluid(src="assets/images/pages/img33.png", style="max-width: 100%")

            .card-body

                .card-text

                    .row.mx-0

                        .col-12

                            p El Proyecto OVOP Colombia, oficialmente denominado: 
                                b Fortalecimiento de un mecanismo para la implementación de OVOP Colombia
                                | , se ha ejecutado desde el año 2014 hasta el 2020 y su objetivo específico es: 
                                b Establecer un modelo de desarrollo local incluyente basado en los principios del Movimiento OVOP como una estrategia de la política de desarrollo local en Colombia
                                | .
                            
                            br

                            p El objetivo superior consiste en: 
                                b Fortalecer la cohesión social y la autogestión de las comunidades para revitalizar los territorios y contribuir a la paz en Colombia
                                | . Para realizarlo, que es la meta dentro de 3 a 5 años del término del proyecto y tener la sostenibilidad para el movimiento OVOP, el proyecto ha aclarado la importancia del mecanismo en el nivel departamental.
                            
                            br

                            p En la filosofía OVOP, se enfatiza el punto que las comunidades son los principales actores que promueven el desarrollo en el nivel departamental, el impulso de esta metodología, a diferencia del desarrollo local tradicional.

                            br

                            p El líder OVOP de la comunidad está en el centro del movimiento. Sin embargo, el establecimiento de dicho mecanismo del departamento no es solo un enfoque, sino también uno basado en el punto de vista estratégico de las instituciones líderes en el departamento.

                            br

                            p Por lo tanto, es importante adoptar uno tanto desde el nivel operativo, como desde el de estrategia y/o política por parte del SENA, quien es responsable de garantizar la sostenibilidad de este movimiento metodológico en Colombia como contraparte principal del proyecto OVOP.

                            br

                            p El curso OVOP proporcionado por los instructores del SENA, juega un papel central y al vincular el apoyo apropiado de las instituciones relacionadas en el departamento con la autogestión y creatividad de la comunidad, se mejorarán dos elementos núcleo de OVOP Colombia: desarrollo de capacidad comunitaria para actuar y creación de valor.