include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Asociación Americana de Marketing (AMA). (s.f.). Marca. Autor.", "")

        +referenciaItem("Bellù, L. G. (2013). Value Chain Analysis for Policy Making. Food and Agriculture Organization of the United Nations, FAO.", "")

        +referenciaItem("Bucheli, B. (2005). Mapeo de Actores. Documento de Trabajo de Grado.", "http://www.preval.org/")

        +referenciaItem("Cámara de Comercio de Bogotá. (2017). Persona jurídica. Artículo 545.", "")

        +referenciaItem("Ceballos, M. M. (2004). Manual para el desarrollo del mapeo de actores claves–MAC. Elaborado en el marco de la consultoría técnica GITEC-SERCITEC.", "")

        +referenciaItem("Kaplinsky, R. & Morris, M. (2001). A Handbook for Value Chain Research. Institute of Development Studies.", "")

        +referenciaItem("Kotler, P. (2008). Estrategia de Marca. Autor.", "")

        +referenciaItem("Sievers, N. N. (2016). Guía General para el Desarrollo de Cadenas de Valor. OIT.", "")

        +referenciaItem("Unidad Administrativa Especial de Organizaciones Solidarias. (2017). Curso Básico de Economía Solidaria. Gobierno de Colombia.", "")